.btn {
	border-radius: 8px;
	border: 1px solid transparent;
	color: #fff;
	display: block;
	padding: 0.4rem 0.8rem;
	margin: 0.5rem auto;
	font-weight: 350;
	cursor: pointer;
	transition: background-color 0.25s ease-in-out;
}

.btn:hover {
	scale: 1.1;
}

.btn-primary {
	background-color: #02419e;
}

.btn-primary:hover {
	background-color: rgb(0, 51, 128);
}

.btn-secondary {
	background-color: #8d1717;
}

.btn-secondary:hover {
	background-color: red;
}
